.cart__item-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 2rem 0;
  width: 40rem;
  max-width: 90%;
}
.cart__item > * {
  padding: 5px 0;
}
.cart__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 1rem;
  width: 50%;
}

.cart__item h1,
.cart__item h2 {
  margin-right: 1rem;
  font-size: 1.2rem;
  margin: 0;
}
.cart__item img {
  width: 15%;
  height: auto;
}
