.orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.orders__products-item img {
  width: 15%;
  height: auto;
}
.orders__item {
  width: 25%;
  margin: 2rem;
  padding: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.orders__item h1 {
  font-size: 1em;
}
