form {
  display: inline;
}

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.card {
  width: 20rem;
  max-width: 90%;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 8px 8px 8px 8px #888888;
}

.card__image img {
  width: 5rem;
}

button {
  font: inherit;
  border: 1px solid #3e00a1;
  color: #3e00a1;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #3e00a1;
  color: white;
}